<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web-prog-1-házi</title>
    <link rel="stylesheet" href="style/index.css">
</head>

<body>
    <h1>Web-programozás-1 Előadás Házi feladat</h1>
    <nav>
        <ul>
            <li><a href="index.html">Kezdőlap</a></li>
            <li><a href="table.html">Táblázat</a></li>
            <li><a href="html5.html">HTML5</a></li>
            <li><a href="chart.html">Chart</a></li>
            <li><a href="oojs.html">OOJS</a></li>
            <li><a href="ajax.html">Ajax</a></li>
        </ul>
    </nav>
    <aside>
        <p>Oldalsáv tartalma</p>
    </aside>

    <div class="content">
        <h2>Üdvözlünk!</h2>
        <p>Válassz egy menüpontot a fenti navigációs sávban.</p>
    </div>

    <footer>
        <p>Neptun kód 1: VBVYRO</p>
        <p>Neotun kód 2: LZJIAQ</p>
    </footer>
</body>

</html>