<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + React</title>
    <script type="module" crossorigin src="/assets/index-D_aG05x6.js"></script>
    <link rel="stylesheet" crossorigin href="/assets/index-iKEeymlR.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="index.html">Kezdőlap</a></li>
        <li><a href="table.html">Táblázat</a></li>
        <li><a href="html5.html">HTML5</a></li>
        <li><a href="chart.html">Chart</a></li>
        <li><a href="oojs.html">OOJS</a></li>
        <li><a href="ajax.html">Ajax</a></li>
        <li><a href="/templates/todo-react/index.html">Todo react</a></li>
        <li><a href="/templates/websearcher/index.html">Wordsearcher react</a></li>
    </ul>
    </nav>
    <div id="root"></div>
  </body>
</html>
